@media (min-width: 768px) {
	h1{
		font-size: 10vw;
		margin: 8vw 0 9vw 0;
	}

	h2{
		font-size: 4vw;
	}

	h3 {
		display: none;
	}

	h4{
		margin: 5vw 0 0 0;
		font-size: 4vw;
	}

	p {
		font-size: 3vw;
	}

	#header {
		padding-top: 7vw;

	}

	#header p{
		color: #ffffff;
		margin-bottom: 18vw;
	}

	#header.servicios {
		background-image: url(../../assets/img/portada-2.png);
		background-size: cover;
		height: 50vw;
		margin-bottom: 4vw;
	}	

	/*.caja-item-verde {
		display: none;
	}*/

	.caja-item-verde {
		display: inline-block;
		text-align: center;
		background-color: transparent;
		padding: 0;
		height: auto;
	}

	.caja-item-verde img {
		width: 7vw;
		height: 7vw;
	}

	.caja-item-verde p{
		font-size: 2.3vw;
		padding: 0 4vw;
		color: #404042;
		margin-bottom: 6vw;
	}
	
	.flechas img{
		width: 3vw;
	  margin: 0 0 3vw 6vw;
	}

	.equipo p{
	 	color: #ffffff;
	 	font-weight: 400;
	 	margin: 2vw 2vw;
 	}
	
	.footer-contenedor{
		display: flex;
		flex-wrap: wrap;
		
	}

	.footer-iz{
		width: 50%;
		text-align: left;
		padding-left: 6vw;
	}
	.footer-iz p{
		font-size: 4vw;
		margin:0;
		padding: 0;
	}

	.footer-iz img{
		width: 6vw;
		margin:2vw 1vw;
	}

	.footer-der{
		width: 50%;
	}

	.footer-der img{
		width: 25vw;
		float: right;
		margin: 0 5vw;
	}

	.smalltext{
		width: 100%;
	}



	.smalltext p{
		font-size: 2vw;
		margin-top: 5vw;

	}


	.smalltext p:last-child{
		font-size: 2.3vw;
		margin-top: 2vw;
	}
	
	.equipo-desktop{
		display: none;
	}

	.somos{
		display: none;
	}

	.servicio {
 		min-height: 70vw;
 		perspective: 200vw;
 	}

	.servicio .fotos-servicios{
		padding: 1vw;
	}

	.servicio .fotos-servicios h5{
		margin: 7vw 0 0 7vw;
		font-size: 4.5vw;
	}

	.ver-mas {
		display: block;
		color: #00A486;
		font-size: 3vw;
   		text-align: right;
   	 	font-weight: lighter;
    	margin: 0 8vw 5vw 0;
	}

	.equipo p{
		color: #ffffff;
		font-weight: 400;
		margin: 1vw 2vw;
		padding:0 2vw;
	}

	
	.equipo.clickeado figcaption{
		height: 100%;
		padding-top: 8vw;
	}
	
	.descripcion p{
		font-size: 2.3vw;
		padding: 0 2vw;
		margin-top: 3vw;
	
	}
	
	.equipo .descripcion a{
		margin: 0 7vw 3vw 0;
	}


	.remodal img{
		display: inline-block;
		width: 20vw;
		float: left;
		margin-right: 3vw;
	}
	

	.remodal h3{
		color: #414042;
		font-weight: 600;
		display: inline-block;
		font-size: 3vw;
		float: left;
	}

	.remodal p{
		text-align: left;
		margin-top: 5vw;
		padding: 0;
		font-size: 2vw;
		margin-bottom: 0;
	}

	.remodal-close:before {
		color: #00A486;
		font-size: 6vw;
	}


}
