@media (min-width: 1270px){

	#header{
		background-size: 50%;
		color: #231F20;
		padding: 50px;
		display: inline-block;
		
	}

	#header.servicios {
	background-image: url(../../assets/img/portada-2.png);
	margin-bottom: 4px;
	background-size: 100%;
	display: block;
	height: 400px;
	}
    
   h1{
   		display: block;
	    width: 50%;
	    font-size: 60px;
	    float: right;
	    margin: 0 13px 5px 13px;
	    padding-left: 67px;
   }

   h2{
		font-size: 35px;
		padding: 0 60px;
	}


   h3{
   	  width: 50%;
	    display: block;
	    font-size: 19px;
    	margin: 0 20px 20px;
	    float: right;
	    padding-left: 74px;
	    color: #498A45;

   }

   h4{
   	font-size: 30px;
   	padding: 0 60px;
   	margin: 50px 0 0 0 ;
   }

   p{
		font-size: 19px;
		margin-bottom: 60px;
		padding: 0 60px;

	}

	#header p{
	 	width: 50%;
		display: block;
	 	color: #231F20;
	 	font-size: 16px;
	 	text-align: left;
	 	float: right;
	 	padding-left: 56px;
	 	margin-bottom: 30px;
	 	padding-right: 30px;
	}	

	.caja-item-verde img {
		width: 50px;
		height: 50px;
	}
	
	.caja-item-verde p{
		font-size: 15px;
		padding: 0 25px;
		margin-bottom: 40px;
	}
	
	.caja-principal {
		padding: 0 40px;
	}

	.flechas img{
		width: 24px;
    	margin: 0 15px 30px 60px;
    	padding: 0;
    	cursor: pointer;
	}

	.equipo {
		overflow: hidden;
	}

	.equipo p{
	 	color: #ffffff;
	 	font-weight: 700;
	 	margin: 7px 0;
	 	font-size: 15px;
	 	padding: 0;
	 	text-align: center;
 	}

 	.equipo figcaption {
 		height: 100%;
 		-webkit-transform: translateY(86%);
 		        transform: translateY(86%);
 		-webkit-transition: all 0.2s ease-in-out;
 		transition: all 0.2s ease-in-out;
 	}

 	.equipo:hover figcaption {
 		-webkit-transform: translateY(0);
 		        transform: translateY(0);
 		padding: 20px;
 	}
 	.equipo:hover figcaption p {
 		text-align: left;
 	}

 	.equipo .descripcion {
 		display: block;
 	}

 	.equipo .descripcion a{
 		margin: 0px 25px 21px 0;
 	}

	footer{
		padding: 90px 0 50px 0;
		margin-top: 100px;
	}
	

	.footer-centro{
		text-align: left;
		padding-left: 60px;

	}

	.footer-centro img{
		display: inline-block;
		width: 30px;
		padding-right: 10px;
	}
	
	.footer-centro a{
		display: inline-block;
		 font-size: 20px;
   		 margin: 10px 0 10px 0;
   		 font-weight: lighter;
	}

	.footer-iz{
		padding-left: 60px;
	}
	.footer-iz p{
		font-size: 30px;
	}

	.footer-iz img{
		width: 30px;
		margin: 20px 5px;
	}

	.footer-der{
		width: 50%;
	}

	.footer-der img{
		width: 150px;
		margin: 0 66px;
	}

	.smalltext{
		width: 100%;
	}


	.smalltext p{
		font-size: 12px;
		margin-top: 5px;
		float: left;

	}


	.smalltext p:last-child{
		font-size: 14px;
		margin-top: 5px;
		float:right;
	}

	p#somos {
		padding:0 0 0 60px;
 		margin: 100px 0 0 0;
 		color: #498A45;
	}

	.contenedor-fotos-s{
		display: inline-block;
		text-align: center;
	}

	.servicio {
		/*float: left;	*/
		display: inline-block;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		width: 24.3vw;
		height: 550px;
		min-height: auto;
		margin: 0;		
	}

	.servicio .fotos-servicios,
	.servicio .dorso-servicios {
		width: 25vw;		
		border: white 10px solid;
		text-align: left;
	}

	.servicio .fotos-servicios{
		/*position: relative;*/
		padding: 70px 20px 20px 20px;
	}

	.servicio .fotos-servicios h5{
		font-size: 21px;
		margin: 2px;
	}

	
	.servicio .fotos-servicios p{
		margin: 35px 0;
		padding: 0;
		font-size: 16px;
	}

	p.cita{
		padding: 0;
		margin: 5px 0px;
	}

	.ver-mas{
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 35px 20px 35px 0;
		font-size: 16px;
		cursor: pointer;
	}
	#menu-desktop.menu-servicios a{
		color: #ffffff;

	}
	
	.descripcion p{
		font-size: 16px;
		margin-top: 12px;
		margin-left: 0;
		font-weight: lighter;
		text-align: left;
	
	}

	.remodal img{
		width: 200px;
		margin-right: 20px;
	}
	

	.remodal h3{
		font-size: 21px;
   		float: left;
    	text-align: left;
	}

	.remodal p{
		margin-top: 45px;
		font-size: 16px;
		
	}

	.remodal-close:before {
		font-size: 30px;
	}

	.servicio .dorso-servicios ul {
    	padding-left: 45px;
	}

	.servicio .dorso-servicios ul li p {
	    padding-left: 1px;
    	padding-top: 3px;
    	font-size: 14px;
    	line-height: 1;

	}
	.servicio .dorso-servicios.interna ul li p {
		padding-left: 1px;
		padding-top: 3px;
		line-height: 1.5;
		font-size: 14px;

	}

	.servicio .dorso-servicios.organizacional ul li p {
		padding-left: 1px;
		padding-top: 3px;
		line-height: 1.3;
		font-size: 14px;

	}
	 
	 audio{
	 	margin-bottom: 50px;
	 	padding: 0 54px 0 635px ;
	 }
	
}



	