#menu-desktop {
	overflow: hidden;
	background-color: #498A45;
	position: fixed;
	z-index: 998;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 0;
	min-height: 0;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#menu-desktop.abierto {
	min-height: 100vh;
	max-height: 100vh;
}

#menu-desktop ul {
	list-style: none;
	margin: 30vw 0 0 0;
	padding: 0;
	text-align: center;
}

#menu-desktop ul li {

}

#menu-desktop ul li a{
	color: white;
	display: block;
	padding: 3vw 0;
	font-weight: 400;
	font-size: 8vw;
}

#menu-desktop ul li a .item-dorso {
	display: none;
}

.hamburger{
	float: right;
	display: block;
}

.lineas{
	height: 1.3vw;
	width: 8vw;
	background-color: #ffffff;
	margin: 1.3vw;
	border-radius: 15px;
	opacity: 1;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.hamburger.abierto .lineas:first-child {
	opacity: 0;
}

.hamburger.abierto .lineas:nth-child(2) {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.hamburger.abierto .lineas:last-child {
	-webkit-transform: translateY(-2.5vw) rotate(-45deg);
	        transform: translateY(-2.5vw) rotate(-45deg);
}

.logo{
	width: 24vw;
}

.logo, 
.hamburger {
	position: relative;
	z-index: 999;
}

@media (min-width: 768px) {

	.logo {
		width: 18vw;
	}

	#menu-desktop {
		float: right;
		max-height: 100%;
		min-height: auto;
		position: relative;
		background-color: transparent;
		width: auto;
	}

	#menu-desktop ul {
		margin: 1em 0;
		text-align: initial;
	}

	#menu-desktop li{
		display: inline-block;
		margin-left: 5vw;	
	}

	#menu-desktop ul li a{
		color: #ffffff;
		padding: 0;
		font-weight: 700;
		font-size: 16px;
	}

	.hamburger{
		display: none;
	}
}

@media (min-width: 1270px) {

	.nav {
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
		width: 100%;
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		z-index: 1000;
	}

	.nav.scrolleado {
		opacity: 0;
	}

	.nav.sticky {
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		background-color: rgba(255, 255, 255, 0.8);
		position: fixed;
		top: 0;
		opacity: 0;
		-webkit-transform: translate(-50%, -10px);
		        transform: translate(-50%, -10px);
		padding: 0;
	}

	.nav .logo {
		margin-left: 50px;
	}

	.nav #menu-desktop {
		margin-right: 50px;
	}

	.nav.sticky:hover {
		-webkit-transform: translate(-50%, 0);
		        transform: translate(-50%, 0);
		opacity: 1;
	}

	#menu-desktop li{
		display: inline-block;
		margin-left: 80px;
	}

	#menu-desktop ul li a{
		color: #231F20;
		-webkit-perspective: 800px;
		        perspective: 800px;
		-webkit-transform-style: preserve-3d;
		        transform-style: preserve-3d;
		position: relative;
		width: 67px;
		height: 18px;
		display: block;
	}

	#menu-desktop ul li a .item-dorso {
		background-color: #498A45;
		color: white;
	}

	#menu-desktop ul li a .item-dorso,
	#menu-desktop ul li a .item-frente {
		font-weight: 400;
		font-size: 12px;
		position: absolute;
		top: 0;
		left: 0;
		padding: 5px;
		-webkit-backface-visibility: hidden;
		        backface-visibility: hidden;
		-webkit-transition: -webkit-transform 0.2s ease-in-out;
		transition: -webkit-transform 0.2s ease-in-out;
		transition: transform 0.2s ease-in-out;
		transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
	}

	#menu-desktop ul li a .item-dorso {
		-webkit-transform: rotateY(-180deg);
		        transform: rotateY(-180deg);
		display: inline-block;
	}	

	#menu-desktop ul li a:hover .item-frente {
		-webkit-transform: rotateY(180deg);
		        transform: rotateY(180deg);
	}

	#menu-desktop ul li a:hover .item-dorso {
		-webkit-transform: rotateY(0);
		        transform: rotateY(0);
	}

	.logo{
		width: 130px;		
	}	

	.nav.sticky .logo {
		width: 90px;
		margin-top: 8px;
		opacity: 0;
	}

	#menu-desktop.menu-servicios ul li a span{
		color: #ffffff;
	}

	.nav.sticky #menu-desktop.menu-servicios ul li a span{
		color: black;
	}

	.nav.sticky #menu-desktop.menu-servicios ul li:hover a span {
		color: white;
	}
}

@media (min-width: 1700px) {

	.nav{
   	max-width: 1270px;
   	margin: 0 auto;
 	}

 	.nav.sticky:hover {
 		max-width: 100vw; 		
	}

	.nav.sticky:hover #menu-desktop {
		margin-right: 400px;
	}

	#menu-desktop a{
		color: #231F20;
		font-weight: 400;
		font-size: 16px;
	}

	#menu-desktop li{
		display: inline-block;
	}

	.logo{
		width: 140px;
	}

	.menu-servicios a{
		color: #ffffff;
	}
}