@media (min-width: 768px) {
	h1{
		font-size: 10vw;
		margin: 8vw 0 9vw 0;
	}

	h2{
		font-size: 4vw;
	}

	h3 {
		display: none;
	}

	h4{
		margin: 5vw 0 0 0;
		font-size: 4vw;
	}

	p {
		font-size: 3vw;
	}

	#header {
		padding-top: 7vw;

	}

	#header p{
		color: #ffffff;
		margin-bottom: 18vw;
	}

	#header.servicios {
	background-image: url(../../assets/img/portada-2.png);
	background-size: cover;
	height: 50vw;
	margin-bottom: 4vw;
}

	.logo {
		width: 18vw;
	}

	#menu-desktop {
		float: right;
	}

	#menu-desktop li{
		display: inline-block;
		margin-left: 5vw;
	
	}

	#menu-desktop a{
		color: #ffffff;

	}

	.hamburger{
		display: none;
	}

	/*.caja-item-verde {
		display: none;
	}*/

	.caja-item-verde {
		display: inline-block;
		text-align: center;
		background-color: transparent;
		padding: 0;
		height: auto;
	}

	.caja-item-verde img {
		width: 7vw;
		height: 7vw;
	}

	.caja-item-verde p{
		font-size: 2.3vw;
		padding: 0 4vw;
		color: #404042;
		margin-bottom: 6vw;
	}
	
	.flechas img{
		width: 3vw;
	  margin: 0 0 3vw 6vw;
	}

	.equipo p{
	 	color: #ffffff;
	 	font-weight: 400;
	 	margin: 2vw 2vw;
 	}

	
	.footer-contenedor{
		display: flex;
		flex-wrap: wrap;
		
	}

	.footer-iz{
		width: 50%;
		text-align: left;
		padding-left: 6vw;
	}
	.footer-iz p{
		font-size: 4vw;
		margin:0;
		padding: 0;
	}

	.footer-iz img{
		width: 6vw;
		margin:2vw 1vw;
	}

	.footer-der{
		width: 50%;
	}

	.footer-der img{
		width: 25vw;
		float: right;
		margin: 0 5vw;
	}

	.smalltext{
		width: 100%;
	}



	.smalltext p{
		font-size: 2vw;
		margin-top: 5vw;

	}


	.smalltext p:last-child{
		font-size: 2.3vw;
		margin-top: 2vw;
	}
	
	.equipo-desktop{
		display: none;
	}

	.somos{
		display: none;
	}

	.fotos-servicios{
		padding: 1vw;
	}

	.fotos-servicios h5{
		margin: 7vw 0 0 7vw;
		font-size: 4.5vw;
	}

}
