
*{box-sizing: border-box;}

/* acaempieza el codigo */
body{
	font-family: 'Source Sans Pro', sans-serif;
	color: #231F20;
}

body.menu-abierto {
	overflow: hidden;
}

#header {
	background-image:url(../../assets/img/portada.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	color: white;
	padding: 15vw 8vw 0 8vw;
}

#header p {
	margin-bottom: 14vw;
	padding: 0;
}

#header.servicios {
	background-image: url(../../assets/img/portada-2.png);
	background-size: 250%;
	height: 80vw;
}

h1 {
	font-family: 'Abril Fatface', cursive;
  font-size: 14vw;
  font-weight: lighter;
  margin: 12vw 0 0 0;
  line-height: 1.2;
}
h2{
	font-weight: 700;
	font-size: 8vw;
	line-height: 1.2;
	padding: 0 6vw;
	margin-top: 0;
}

h3{
	margin: 0 0 22vw 0;
	font-weight: lighter;
	font-size: 4vw;
}

p{
	font-size: 5.5vw;
	font-weight: 400;
	color: #404042;
	margin-bottom: 6vw;
	padding: 0 6vw;
}

span {

	font-weight: bold;
}


/*Aca empieza el slidechow*/
/*.caja-item-blanca{
	display: none;
}*/

.caja-item-verde{
	background: #00A486;
	padding: 10vw;
	height: 70vw;
}

.caja-item-verde img{
	width: 30%;
	display: block;
	margin: 0 auto;
	height: 25vw;
	width: 25vw;

}

.caja-item-verde p{
	color: #ffffff;
	font-size: 5vw;
	text-align: center;
	margin-bottom: 0;
}

.flechas img{
	width: 6vw;
  margin: 0 4vw 6vw 6vw;
}

h4{
	color: #00A486;
	font-weight: lighter;
	padding: 0 6vw;
	margin: 17vw 0 0 0;
	font-size: 7vw;
}

.equipo{
	position: relative;
	width: 100%;
	margin:0;
}

.equipo figcaption {
  background-color: rgba(30, 44, 44, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: height 0.2s ease-in-out;
}

.equipo .descripcion {
	display: none;
}

.equipo .descripcion a{
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	text-align: right;
	margin: 0 7vw 7vw 0;
	cursor: pointer;
	color: #00A486;
	font-weight: lighter;
}

.equipo.clickeado figcaption{
	height: 100%;
	padding-top: 8vw;
}

.equipo .popup {
	display: none;
	position: absolute;
	background-color: lightgray;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 999;
}

.equipo .popup p {
	color: black;
}

.equipo p{
	color: #ffffff;
	font-weight: 400;
	margin: 4vw 2vw;
}
.descripcion p{
	font-size: 4.6vw;
	
}

footer{
	background-color: #00A486;
    margin-top: 20vw;
    text-align: center;
    padding: 10vw 0 10vw 0;
    box-shadow: inset 0 3vw 8vw #009277;
}
footer p{
	font-weight: 400;
    font-size: 9vw;
    color: #ffffff;
    margin-top: 9vw;
}
footer img{
	width: 12vw;
	margin: 2vw;
}

.footer-der img {
	display: block;
	width: 45vw;
    margin: 5vw auto;
}

.smalltext p{
	font-size: 3vw;
	margin:0;
}

.smalltext p:last-child{
	font-size: 4vw;
	margin-top: 2vw;
}

a{
	text-decoration: none;
	font-weight: 700;
	color: #8600ED;
}
.equipotablet{
	display: none;
}
.equipo-desktop{
		display: none;
}


#somos{
	display: none;
}

.servicios-mobile h4{
	margin:0 0 0 0;

}

.servicio {
	margin:5vw auto;	
	position: relative;
	perspective: 800px;
	transform-style: preserve-3d;
	min-height: 100vh;
	width: 90vw;
	display: block;
}

.servicio .fotos-servicios,
.servicio .dorso-servicios {
	position: absolute;
	top: 0;
	height: 100%;
	left: 0;
	width: 90vw;
	backface-visibility: hidden;	
	transition: transform 0.4s ease-in-out;
}

.servicio .fotos-servicios{
	background-size: cover;
	background-repeat: no-repeat;
	padding:2vw;

}

.servicio .dorso-servicios {
	background-color: #00A486;
	color: white;
	transform: rotateY(-180deg);
}

.servicio .dorso-servicios ul {
	margin: 0;
	/*padding: 0;*/
}

.servicio .dorso-servicios ul li p {
	color: white;
}

.servicio.clickeado .fotos-servicios {
	transform: rotateY(180deg);
}

.servicio.clickeado .dorso-servicios {
	transform: rotateY(0);	
}

h5 {
	font-size:6vw;
	color: #ffffff;
	margin-left: 7vw;

}

.fotos-servicios p{
	color: #ffffff;

}

.fotos-servicios .cita{
	font-style: italic; 
	color: #00A486;

}

.ver-mas {
	display: block;
	color: #00A486;
    text-align: right;
    font-weight: lighter;
    margin: 0 8vw 8vw 0;
}

.remodal img{
	display: none;
	
}
.remodal h3{
	font-size: 6vw;
	color: #00A486;
	padding: 0;
	margin: 0;
}
.remodal p{
	text-align: left;
	margin-top: 6vw;
	padding: 0;
	font-size: 4.5vw;
}

.remodal p span{
	color: #00A486;
	font-weight: lighter;
} 

.remodal-close:before {
	color: #00A486;
}


 /*	
 @media screen and (max-width: 1000px){
selector{
propiedad: valor;
}
}
*/